@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gold-shimmer {
        background: linear-gradient(to right, #bf953f 20%, #fcf6ba 40%, #fcf6ba 60%, #bf953f 80%);
        background-size: 200% auto;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: shine 4s linear infinite;
    }
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}